body {
    margin:0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
*:focus {
    outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position:relative;
    border:15px #ddd solid;
    transition: all 0.4s;
    box-sizing: border-box;

}

.clock-active {
    width:97% ;
    min-height: 95vh;
    border:2px #ddd solid;

}
.btn-choice h2 {
    text-align: center;
}
.btn-choice {
    position:absolute;
    left: 20px;
    bottom: 20px;
    top:20px;
    z-index: 1;
    font-size:1.3em;
    background: #eee;
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-choice button {
    font-size: 1.2em;
    display: block;
    cursor: pointer;
    width: 100%;
    border:none;
    background: inherit;
    color:black;
    padding: 15px 0;
    box-sizing: border-box;
    transition: all 0.4s;
    position: relative;
}

.btn-choice button:hover {
    background:#ddd;
    color:#555;
}

.btn-choice button[type="button"]:after{
    content: 'Lancer';
    font-size:0.5em;
    opacity: 0;
    transform : translateX(-10px);
    position: absolute;
    right:15px;
    top:calc(50% - 0.5em);
    transition: all 0.4s;
}
.btn-choice button:hover::after {
    opacity:1;
    transform : translateX(0);
}
.btn-choice input {
    font-size: 18px;
    margin:2px;
    width:80px;
    background: inherit;
    border: none;
    padding:15px 0;
    text-align: center;
}
.btn-choice input:focus {
    border-bottom:1px grey solid;
}

form {
    text-align: center;
}
.clock{
    background: white;
    border: 2px black solid;
    padding: 1em;
    position: relative;
    border-radius: 15px;
    text-align: center;
}

.clock:before {
    content:"";
    width:25px;
    height:15px;
    background: #222;
    position: absolute;
    top:-10px;
    right:25px;
    border-radius: 15px;
    z-index: -1;
}

.chrono {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 5s;
    padding: 2em;
    position: relative;
}
.chrono:before {
    content: '';
    position: absolute;

}
#time {
    font-family: 'Cutive Mono', monospace;
    font-size: 5em;
    border:2px black solid;
    border-radius: 15px;
    padding:0 20px;
    position: relative;
    background: white;
    text-align: center;
    transition: all 0.4s;
}

#time-limit{
    margin:1em 0;
}
.btn-group button {
    border: none;
    margin: 0 15px;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    cursor:pointer;
    position: relative;
    transition: all 0.4s;
}
.alert{
    color : #FF3D41;
}
#btn-reset{
    color:#FF3D41;
    border: 1px #FF3D41 solid;
    background: white;
}

.btn-group button:hover:before {
    transform: scale(1.2);
}
.btn-group button:hover{
    letter-spacing: 2px;
}
#btn-stop{
    color: #FF781F;
    border: 1px #FF781F solid;
    background: white;
}
.stop {
    border: 1px #5C9B40 solid !important;
    color: #5C9B40 !important;
}

.stop:before {
    background:#5C9B40 url('./images/play-button.svg') no-repeat center center !important ;
    background-size: 50% !important;
}
#btn-stop:before {
    background: #FF781F url('./images/pause.svg') no-repeat center center;
    background-size: 60%;
}

#btn5 {
    color: navy;
    border: 1px navy solid;
    background: white;
    display: none;
}
#btn-reset:before{
    background: #FF3D41 url('./images/replay-arrow.svg') no-repeat center center;
    background-size: 60%;
}
.btn-group button:before {
    content:'';
    position: absolute;
    vertical-align: center;
    text-align: center;
    top: -3px;
    right:-6px;
    width:18px;
    height:18px;
    color:white;
    border-radius: 50%;
    border:2px #ddd solid;
    transition: all 0.4s;
}

.end {
    animation: clignote 1s alternate infinite;
}
@keyframes clignote {
    0%{
        color:black;
    }
    100% {
        color:white;
    }

}

@media (max-width : 1200px) {
    .app{
        flex-direction: column;
        font-size: 13px;
        width: 100%;
        min-height: 100vh;
    }
    .btn-choice{
        left:0;top:0;bottom:0;
        right:0;
        z-index: 100;
        flex-direction: row;
        width: auto;
        flex-wrap: wrap;
    }
}